<!-- <div class="container article-container mat-elevation-z4">
  <div class="row">
    <div class="col-12 article-image">
      <img src="{{article?.thumbnail}}">
    </div>
    <div class="col-12 article-content">
      <div class="row">
        <div class="col-12 article-content-title">
          <h4>{{article?.title}}</h4>
        </div>
      </div>

      <div class="row">
        <span class="col-12">
          <span class="mat-caption">{{ article?.date | date : "longDate" }}</span> | <span class="mat-caption">{{article?.publication?.name}}</span>
        </span>
      </div>

      <div class="row">
        <div class="col-12 article-content-body">
          {{article?.articleLead}}
        </div>
        <div class="col-12 margin-top-10">
          <a class="mat-caption" style="padding-left:0" href="{{article?.url}}"><b>Read Source</b></a>
        </div>
      </div>

      <div class="article-content-votes">
        <div class="row">
          <div class="col-12">
            <a mat-button class="pull-right">
              <i class="fa fa-thumbs-down" aria-hidden="true"></i>&nbsp;&nbsp;
            </a>
            <a mat-button class="pull-right">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;&nbsp;
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 -->
 <div class="container mat-elevation-z4 padding-10">
   <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 padding-10">
          <img src="{{article?.thumbnail}}" class="image">
      </div>
      <div class="col-lg-8 col-md-6 col-sm-12 article-highlight-container">
          <div class="row date-publication-row">
            <div class="col-4"><span class="mat-body-2 publication-name">{{article?.publication?.name}}</span></div>
            <div class="col-4"></div>
            <div class="col-4"><span class="mat-body-2 pull-right article-date">{{ article?.date | date : "longDate" }}</span></div>
          </div>
          <div class="row ">
            <div class="col-12 articleTitle">{{article?.title}}</div>
            <div class="col-12 articleCaption">{{article?.articleLead}}</div>
            <div class="col-12">
                <a class="mat-caption" style="padding-left:0" href="{{article.url}}" target="_blank"><b>Read Source</b></a>
            </div>
          </div>
      </div>
    </div>
    <div class="row article-body">
      <div class="col-12" style="white-space: pre-line;">
        {{article?.articleBody}}
      </div>
    </div>
    <mat-progress-spinner
      *ngIf="loading == true"
      color="primary"
      class="spinner"
      [diameter]="50"
      mode="indeterminate">
    </mat-progress-spinner>
    <div class="row margin-top-10" *ngIf="loading == false">
        <div class="col-3"></div>
        <div class="col-3 button-center">
          <a mat-button color="primary" (click)="saveVote(true)" [ngClass]="{activeGreen: article?.vote == true}"
          matTooltip="Up" position="above">
            <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
            {{article.state.upW}}
          </a>
        </div>
        <div class="col-3 button-center">
          <a mat-button color="primary" (click)="saveVote(false)" [ngClass]="{activeRed: article?.vote == false}"
          matTooltip="Down" position="above">
            <i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
            {{article.state.downW}}
          </a>
        </div>
        <div class="col-3"></div>
    </div>
 </div>
