.image
{
  max-height:300px;
  width:100%;
}

.align-flex
{
  display: flex;
}

.align-flex-end
{
  align-self: flex-end;
}

//.margin-top-80
//{
//  margin-top: 80;
//}

.articleTitle
{
  font-family: 'Merriweather Bold', serif;
  font-size: 24px;
  line-height: 24px;
}

.articleCaption
{
    font-size: 12px;
    line-height: 16px;
    font-family: 'Lato', sans-serif;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-body {
  font-size: 14px;
  line-height: 16px;
  font-family: 'Lato Light', sans-serif;
  margin-top: 16px;
  font-weight: 800;
}

.article-highlight-container {
  display: flex;
  flex-direction: column;
}

.article-highlight-container .date-publication-row {
  flex-grow: 1;
}

.article-highlight-container .date-publication-row .publication-name {
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
}

.article-highlight-container .date-publication-row .article-date {
  font-family: "Lato Light Italic", sans-serif;
  font-size: 14px;
}

a {
  padding: 4px 10px;
  color: #212121;
  text-decoration: none;
}

.button-center
{
  text-align: center
}