.image
{
  width: 100%;
}

.align-flex
{
  display: flex;
}

.align-flex-end
{
  align-self: flex-end;
}

.margin-top-80
{
  margin-top: 80;
}

.articleTitle
{
  font-family: 'Merriweather Bold', serif;
  font-size: 18px;
  line-height: 24px;
}

.articleCaption
{
    font-size: 14px;
    line-height: 16px;
    font-family: 'Lato Light', sans-serif;
    margin-top: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}