<!-- <mat-toolbar class="fixed-top mat-elevation-z4 navbar" layout="row">
    <div class="container">
      <div class="row display-flex">
        <span class="mat-subheading-2 page-name">
          <a [routerLink]="['/landing-page']"><b>News</b> Portal</a>
        </span>
        <span *ngFor="let item of menuItems" class="margin-top-2">
          <a [routerLink]="[item.route]" mat-button>{{item.name}}</a>
        </span>
        <span class="spacer"></span>
        <span class="navbar-right margin-top-2">
          <mat-menu #loginMenu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item (click)="logout();"><span> Logout </span></button>
          </mat-menu>
          <a mat-button [matMenuTriggerFor]="loginMenu" *ngIf="isLoggedIn" class="float-right right">
            {{authName}}
          </a>
          <a (click)="openLoginModal()" mat-button class="float-right" *ngIf="!isLoggedIn">Login</a>
        </span>
      </div>
    </div>
  </mat-toolbar> -->

  <mat-toolbar class="fixed-top mat-elevation-z4 navbar" color="primary">
      <mat-toolbar-row class="container">
          <span class="mat-subheading-2 page-name">
            <a [routerLink]="['/landing-page']">
              <img src="../../../assets/logo/logoVeritastory.png" style="width: 150px ">
            </a>
          </span>
          <span *ngFor="let item of menuItems" class="margin-top-2">
            <a [routerLink]="[item.route]" mat-button>{{item.name}}</a>
          </span>
          <span class="spacer"></span>
          <span>
            <mat-menu #loginMenu="matMenu" [overlapTrigger]="false">
              <button mat-menu-item [routerLink]="['/profile']"><span> Profile </span></button>
              <button mat-menu-item (click)="logout();"><span> Logout </span></button>
            </mat-menu>
            <a mat-button [matMenuTriggerFor]="loginMenu" *ngIf="isLoggedIn" class="float-right right">
              {{authName}}
            </a>
            <a (click)="openLoginModal()" mat-button class="float-right" *ngIf="!isLoggedIn">Login</a>
          </span>
      </mat-toolbar-row>
  </mat-toolbar>
