
  @media screen and (min-width: 576px) {
    .site-container {
      margin-top: 48px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .site-container {
      margin-top: 40px;
    }
  }
  
  @media screen and (min-width: 992px) {
    .site-container {
      margin-top: 18px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .site-container {
      margin-top: 9px;
    }
  }