<div class="row highlight-banner site-container">

  <div class="highlight-container">
    <div class="highlight-lead">Not everything is what it seems!</div>
    <div class="highlight-subtitle">What are other people saying about that story you have just read? Do you think it is true?</div>
  </div>
</div>

<div class="row icon-row">
  <div class="col-4 icon-group">

    <img src="../../../assets/icons/talk.png">
    <h3>We give you a voice </h3>
    <h4>to express your trust in what you see on the internet </h4>

  </div>
  <div class="col-4 icon-group">

    <img src="../../../assets/icons/handshake.png">
    <h3>We are trustworthy </h3>
    <h4>and we expect the same from you </h4>

  </div>
  <div class="col-4 icon-group">

    <img src="../../../assets/icons/block.png">
    <h3>Independent, with blockchain </h3>
    <h4>every information if safely saved on blockchain </h4>

  </div>
</div>


