.site-container {
    /* The image used */
    background: url("../../../assets/background/background_green.jpg") no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  max-height:600px;
  min-height:300px;
}
