// /* You can add global styles to this file, and also import other style files */
@import "./app/styles/mat-theme";
@import "./app/styles/margins";
@import "./app/styles/paddings";

body
{
    font-family: 'Roboto', sans-serif !important;
    background-color: #f4f4f4 !important;
}

.text-center 
{
    text-align: center;
}