// /* You can add global styles to this file, and also import other style files */
@import "./app/styles/mat-theme";
@import "./app/styles/margins";
@import "./app/styles/paddings";

@font-face {
  font-family: 'Lato Regular';
  src: url('assets/fonts/Lato/Lato-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Lato Bold';
  src: url('assets/fonts/Lato/Lato-Bold.ttf') format("truetype");
}

@font-face {
  font-family: 'Lato Light';
  src: url('assets/fonts/Lato/Lato-Light.ttf') format("truetype");
}

@font-face {
  font-family: 'Lato Semibold';
  src: url('assets/fonts/Lato/Lato-Semibold.ttf') format("truetype");
}

@font-face {
  font-family: 'Lato Light Italic';
  src: url('assets/fonts/Lato/Lato-LightItalic.ttf') format("truetype");
}

@font-face {
  font-family: 'Merriweather Regular';
  src: url('assets/fonts/Merriweather/Merriweather-Regular.otf') format("opentype");
}

@font-face {
  font-family: 'Merriweather Bold';
  src: url('assets/fonts/Merriweather/Merriweather-Bold.otf') format("opentype");
}

@font-face {
  font-family: 'Merriweather Light';
  src: url('assets/fonts/Merriweather/Merriweather-Light.otf') format("opentype");
}

body
{
    font-family: 'Lato Regular', sans-serif !important;
    background-color: #f4f4f4 !important;
}

.text-center
{
    text-align: center;
}
